.places {
  display: grid;
  gap: 80px;
  max-width: 984px;
  width: 100%;
  padding-top: 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 950px) {
  .places {
    max-width: 720px;
    padding-top: 88px;
    gap: 73px;
  }
}

@media screen and (max-width: 750px) {
  .places {
    max-width: 320px;
    padding-top: 64px;
    gap: 50px;
  }
}
