.place__paragraph {
  display: grid;
  gap: 26px;
  max-width: 484px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    padding: 0 16px 0;
  }
}
