.intro {
  flex-direction: column;
  max-width: 690px;
  width: 100%;
  margin-top: 92px;
  align-self: flex-start;
  margin-left: 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 87px auto 0;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    max-width: 288px;
    margin: 64px auto 0;
  }
}
